<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	{{- partial "head.html" . -}} {{- partial "header.html" . -}}
	<body>
		{{- block "main" . }}{{- end }}
	</body>
	{{- partial "footer.html" . -}} {{ $jq := resources.Get "js/jquery-3.2.1.min.js" }}

	<script src="{{ $jq.Permalink }}"></script>

	{{ $boots := resources.Get "js/bootstrap.min.js" }}

	<script src="{{ $boots.Permalink }}"></script>

	{{ $wow := resources.Get "vendors/wow/wow.min.js" }}

	<script src="{{ $wow.Permalink }}"></script>

	{{ $mainjs := resources.Get "js/main.js" }}

	<script src="{{ $mainjs.Permalink }}"></script>
</html>
