@media (max-width: 1650px) {
	.section_container {
		height: 795px;
	}
}
@media (max-width: 1550px) {
	.container.custom_container {
		max-width: 1170px;
	}
	.company_widget img {
		max-width: 100%;
	}
	.service_carousel {
		padding-left: 70px;
	}
}
@media (max-width: 1450px) {
	.text_box textarea {
		height: 140px;
	}
	.platform_banner img {
		margin-left: -300px;
	}
}
@media (max-width: 1350px) {
	.platform_banner img {
		margin-left: -300px;
	}
	.platform_banner .platform_heading {
		margin-left: 0;
	}
	.erp_banner_area_two .animation_img img {
		max-width: 100%;
		margin-left: auto;
	}
	.erp_features_img_two img {
		max-width: 100%;
	}
	.flex-row-reverse .erp_content_two {
		padding-right: 20px;
	}
	.erp_content_two {
		padding-left: 30px;
	}
}
@media (max-width: 1199px) {
	.platform_banner img {
		width: 100%;
		margin-left: -400px;
	}
	.platform_banner .platform_heading {
		margin-left: 0;
		margin-top: 260px;
	}
	.platform_banner.pricing_banner .pricing_heading {
		margin-top: 115px;
	}
	.erp_service_area .platform_diagram img {
		width: 100%;
	}
	.aditional_bottom_space_3 {
		padding-bottom: 23px;
	}
	.container.custom_container {
		max-width: 960px;
	}
	.service_carousel .owl-stage {
		left: 0;
	}
	.menu > .nav-item + .nav-item {
		margin-left: 20px;
	}
	.faq_area .pr_50 {
		padding-right: 15px;
	}
	.sign_info .login_info {
		padding-left: 0;
	}
	.login-form .extra {
		font-size: 13px;
	}
	.get_started_three .get_btn_info .get_btn_item {
		padding-right: 20px;
	}
	.details_img img {
		max-width: 100%;
	}
	.menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu {
		max-width: 960px;
	}
	.pos_footer_area .pl_20,
	.pos_footer_area .pl_70 {
		padding-left: 0;
	}
	.intro {
		margin-right: auto;
	}
	.menu > .nav-item.submenu .dropdown-menu .nav-item {
		padding: 0 10px;
	}
	.pricing_area_two .price_content .col-lg-4 {
		padding-left: 20px;
	}
	.pricing_area_two .price_content .price_item.enterprise {
		height: 505px;
	}
	.menu .btn_get {
		margin: auto 7px;
	}
}
@media (max-width: 1023px) {
	.pricing_area_two .price_content .price_item.enterprise {
		height: 463px;
	}
}
@media (max-width: 1024px) {
	.navbar-nav .nav-item.dropdown.submenu.mega_menu .dropdown-menu .responsive_menu {
		padding: 0 15px;
	}
	.erp_banner_area_two .animation_img {
		margin-top: 30px;
	}
	.menu > .nav-item.submenu .dropdown-menu .nav-item .nav-link {
		font-size: 13px;
	}
	.pricing_area_two .price_content .price_item .price_item_row {
		padding: 24px 20px;
	}
	.pricing_area_two .price_content .price_item.pricing_left .price_item_row {
		padding: 24px 20px 24px 0;
	}
	.pricing_area_two .price_content .price_item .price_item_row.two_row {
		padding: 33px 20px;
	}
}
@media (max-width: 991px) {
	.platform_banner.pricing_banner .pricing_heading {
		margin-top: 95px;
	}
	.landing .image-width-600 {
		max-width: 100% !important;
	}
	.landing .details_img {
		margin-top: 30px;
	}
	.landing .image-pad0 {
		padding-left: 15px;
	}
	.landing .details_img_land {
		margin-top: 0;
		margin-bottom: 30px;
	}
	.pricing_area_two .price_content .price_item .price_item_row.two_row {
		padding: 24px 20px;
	}
	.platform_banner .platform_heading {
		margin-left: 0;
	}
	.navbar-nav .nav-item.dropdown.submenu.mega_menu .dropdown-menu .responsive_menu {
		width: 32%;
		border-right: none;
		border-bottom: 1px solid #eee;
		margin-bottom: 15px;
	}
	.aditional_bottom_space_3 {
		padding-bottom: 0;
	}
	.intregration_area .container .row .col-lg-3.col-sm-12.wow.fadeInDown {
		max-width: 50%;
	}
	.footer_top .f_widget {
		padding-left: 0;
		margin-bottom: 40px;
	}
	.footer_top {
		padding-bottom: 60px;
	}
	.footer_bottom {
		font-size: 13px;
	}
	.container.custom_container {
		max-width: 100%;
		padding: 0 15px;
	}
	.price_content .price_item {
		height: 100%;
	}
	.service_carousel:before {
		display: none;
	}
	.p_service_item.pl_70 {
		padding-left: 0;
	}
	.p_service_item.pr_70 {
		padding-right: 0;
	}
	.p_service_item {
		margin-bottom: 40px;
	}
	.action_content {
		margin-bottom: 0;
		margin-top: 0;
	}
	.p_service_info {
		margin-bottom: -40px;
	}
	.prototype_service_info {
		padding: 120px 0;
	}
	.footer_area_four .footer_top,
	.footer_area_six.sec_pad {
		padding-bottom: 80px;
	}
	.faq_tab {
		margin-bottom: 60px;
	}
	.sign_info .login_info {
		margin-top: 50px;
	}
	.menu > .nav-item + .nav-item {
		margin-left: 0;
	}
	.menu > .nav-item {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.menu {
		padding: 10px 30px;
		background: #fff;
		margin-top: 0;
	}
	.menu_one .navbar-collapse {
		margin-left: -20px;
		margin-right: -20px;
	}
	.menu_four .navbar-collapse,
	.navbar-collapse {
		max-height: 400px;
		overflow-y: scroll;
		margin-left: 0;
		margin-right: 0;
		background: #fff;
	}
	.menu > .nav-item {
		margin-right: 0;
	}
	.header_area .navbar-brand,
	.menu_toggle {
		transition: all 0.2s linear;
	}
	.header_area.navbar_fixed .navbar-brand,
	.navbar_fixed .menu_toggle {
		margin-bottom: 0;
	}
	.menu > .nav-item > .nav-link {
		display: inline-block;
	}
	.menu > .nav-item.submenu .dropdown-menu .nav-item > .dropdown-menu {
		box-shadow: none;
	}
	.menu > .nav-item.submenu.mega_menu .dropdown-menu .nav-item > .dropdown-menu {
		display: block;
	}
	.menu > .nav-item.submenu .dropdown-menu .nav-item {
		padding: 0 25px;
	}
	.menu > .nav-item.submenu .dropdown-menu {
		box-shadow: none;
		padding: 0;
		margin: 0;
	}
	.menu > .nav-item.submenu.mega_menu .mega_menu_inner {
		box-shadow: none;
		position: static;
	}
	.menu > .nav-item.submenu.mega_menu > .dropdown-menu.show {
		margin-top: 10px;
		box-shadow: none;
		min-height: 350px;
	}
	.menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu > .nav-item .dropdown-menu {
		padding-left: 15px;
		opacity: 1;
		visibility: visible;
		min-height: max-content;
		display: block !important;
	}
	.menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu > .nav-item {
		padding: 0 25px;
	}
	.menu > .nav-item.submenu .dropdown-menu .nav-item:first-child,
	.menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu > .nav-item:first-child {
		padding-top: 12px;
	}
	.menu > .nav-item.submenu .dropdown-menu .nav-item:last-child,
	.menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu > .nav-item:last-child {
		padding-bottom: 0;
	}
	.menu > .nav-item.submenu.mega_menu .mega_menu_inner > .dropdown-menu > .nav-item > .dropdown-menu > .nav-item:last-child {
		padding-bottom: 20px;
	}
	.menu_one .btn_get {
		margin-left: 29px;
	}
	.footer_area_two .footer_top_two .row {
		margin-bottom: -40px;
	}
	.header_area .container {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header_area.navbar_fixed .menu_one,
	.menu_one {
		padding: 15px 0;
	}
	.section_container .intro {
		height: 50%;
	}
	.footer_bottom .f_menu li + li {
		margin-left: 7px;
	}
	.payment_footer_area_two {
		padding-bottom: 60px;
	}
	.get_started_three .get_btn_info .get_btn_item h3 {
		font-size: 16px;
		line-height: 32px;
	}
	.get_started_three .get_btn_info .get_btn_item {
		padding-right: 0;
		margin-bottom: 20px;
	}
	.study_details_three .study_details_content {
		padding-top: 50px;
	}
	.breadcrumb_area {
		padding-top: 180px;
	}
	.details_img {
		margin-right: 0;
	}
	.navbar_fixed .menu_pos .container .menu_toggle .hamburger-cross span,
	.navbar_fixed .menu_pos .container .menu_toggle .hamburger span {
		background: #051441;
	}
	.pos_footer_area {
		padding-bottom: 0;
	}
	.erp_service_item.pl_70 {
		padding-left: 0;
	}
	.erp_service_item.pr_70 {
		padding-right: 0;
	}
	.erp_service_item .icon {
		margin-left: auto !important;
	}
	.erp_features_img_two {
		margin-bottom: 40px;
		max-width: 550px;
		margin-left: auto;
		margin-right: auto;
	}
	.erp_content_two {
		padding-left: 0;
	}
	.erp_item_features + .erp_item_features {
		margin-top: 100px;
	}
	.flex-row-reverse .erp_features_img_two .img_icon {
		left: auto;
		right: -55px;
	}
	.header_area .container {
		position: relative;
	}
	.platform_banner .platform_heading {
		margin-top: 100px;
	}
}
@media (max-width: 812px) {
	.platform_banner .platform_heading,
	.platform_banner.pricing_banner .pricing_heading {
		margin-top: 180px;
		margin-left: 0;
	}
}
@media (max-width: 768px) {
	.faq_tab {
		max-width: 100%;
	}
	.erp_banner_area_two .animation_img {
		margin-top: 50px;
	}
	.erp_banner_area_two .section_container .intro_content p {
		margin-bottom: 30px;
		padding: 0 50px;
	}
	.sign_in_area .login-form .btn-group,
	.sign_in_area .login-form input,
	.sign_in_area .login-form textarea {
		border-color: #f2effc;
		box-shadow: 0 10px 14px 0 rgba(12, 0, 46, 0.06);
	}
	.res_pad {
		margin-top: 80px;
	}
	.service_details ul {
		padding-left: 0;
	}
	.remove_pad .col-lg-6 {
		padding-left: 0;
		padding-right: 0;
	}
	.about .team .details_img,
	.remove_pad .details_img {
		margin-right: 0;
	}
	.platform_banner .platform_heading {
		margin-top: 160px;
		margin-left: 0;
	}
	.platform_banner {
		height: 450px;
	}
	.case_study_details_area .study_details_content,
	.case_study_details_area .study_details_content h2 {
		text-align: center;
	}
	.case_study_details_area .study_details_content .list-unstyled,
	.case_study_details_area .study_details_content p {
		text-align: left;
	}
	.footer_bottom p {
		text-align: center;
		margin-bottom: 12px !important;
	}
	.footer_bottom .f_menu {
		text-align: center !important;
	}
	.footer_area_two .footer_bottom p {
		text-align: left;
		margin-bottom: 0 !important;
	}
	.service_carousel {
		padding-left: 0;
		padding-right: 0;
	}
	.owl-carousel .owl-nav .owl-next,
	.owl-carousel .owl-nav .owl-prev {
		opacity: 0;
	}
	.service_carousel:hover .owl-nav .owl-next,
	.service_carousel:hover .owl-nav .owl-prev {
		opacity: 1;
	}
	.prototype_service_info {
		padding: 70px 0;
		padding-bottom: 0;
	}
	.sec_pad {
		padding: 70px 0;
	}
	.footer_area_six.sec_pad {
		padding-bottom: 30px;
	}
	.price_content .price_item {
		padding-left: 15px;
		padding-right: 15px;
	}
	.sign_info {
		padding: 50px 30px;
	}
	.section_container .intro_content {
		position: relative;
		padding-left: 15px;
		padding-right: 15px;
	}
	.erp_banner_area_two .section_container .intro_content h1,
	.section_container .intro_content h1 {
		font-size: 44px;
	}
	.breadcrumb_area {
		padding: 124px 0 100px;
	}
	.sign_info {
		background: #fff;
	}
	.new_footer_area .footer_bottom p {
		text-align: left;
		font-size: 14px;
	}
	.erp_banner_area_two .section_container .intro {
		margin-left: 0;
		margin-right: 0;
	}
	.hamburger-menu-wrepper.show-menu .animation-box .menu-box .offcanfas_menu > li a {
		font-size: 25px;
	}
}
@media (max-width: 650px) {
	.h_action_area_three h2 {
		padding: 0 15px;
	}
	.get_btn_info .list-unstyled:last-child,
	.remove_pad .details_img {
		margin-bottom: 30px;
	}
	.platform_banner img {
		float: none;
		margin-left: 0;
	}
	.platform_banner {
		height: 370px;
	}
	.platform_banner .platform_heading,
	.platform_banner.pricing_banner .pricing_heading,
	.pricing_banner .pricing_heading {
		margin-left: auto;
		margin-right: auto;
		margin-top: 110px;
		text-align: center;
	}
	.pricing_banner .pricing_heading .mt_130 {
		margin-top: 60px;
	}
	.navbar-nav .nav-item.dropdown.submenu.mega_menu .dropdown-menu .responsive_menu {
		width: 70%;
	}
	.aditional_bottom_space_2 {
		padding-bottom: 23px;
	}
	.intregration_area .container .row .col-lg-3.col-sm-12.wow.fadeInDown {
		max-width: 100%;
	}
	.intregration_area .container .row .col-lg-3.col-sm-12.wow.fadeInDown .app_service_item .icon {
		margin-left: auto;
		margin-right: auto;
	}
	.erp_features_img_two .img_icon.red {
		left: auto;
		right: -7px !important;
	}
	.sign_info .login_info .sign-in-form .d-flex {
		display: block !important;
	}
	.f_widget .widget-wrap {
		margin-top: 20px;
	}
	.menu > .nav-item.submenu.mega_menu > .dropdown-menu.show {
		padding: 0 10px;
	}
	.intro {
		width: 100%;
	}
	.pos_footer_area .leaf_left,
	.pos_footer_area .leaf_right {
		max-width: 20%;
	}
	.erp_banner_area_two .section_container .intro_content h1 {
		font-size: 28px;
		line-height: 38px;
	}
	.erp_banner_area_two .animation_img {
		margin-top: 80px;
		padding-bottom: 30px;
	}
	.erp_banner_area_two .animation_img img {
		margin-left: auto;
	}
	.erp_service_item {
		margin-bottom: 50px;
	}
	.erp_service_item .icon {
		margin-left: auto;
	}
	.erp_service_area .row {
		margin-bottom: -50px;
	}
	.intro {
		max-width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (max-width: 576px) {
	.footer_area_two .footer_bottom p,
	.footer_bottom .f_menu {
		text-align: center !important;
	}
	.l_height50 {
		line-height: 45px;
	}
	.f_size_30 {
		font-size: 24px;
		line-height: 35px;
	}
	.f_size_40 {
		font-size: 30px;
	}
	.footer_area_two .footer_bottom p {
		margin-bottom: 8px !important;
	}
	.app_service_item {
		padding: 50px 20px;
	}
	.breadcrumb_content h1 {
		font-size: 28px;
		line-height: 32px;
	}
	.login-form .extra {
		display: block !important;
	}
	.section_container .intro_content h1 {
		font-size: 30px;
		line-height: 45px;
	}
	.breadcrumb_area {
		padding: 70px 0 50px;
	}
	.payment_footer_area {
		padding-bottom: 75px;
	}
	.new_footer_area .footer_bottom p {
		text-align: center;
		margin-bottom: 0 !important;
	}
	.hosting_title h2 {
		font-size: 31px;
		line-height: 40px;
	}
	.flex-row-reverse .erp_content_two {
		padding-right: 0;
	}
	.flex-row-reverse .erp_features_img_two .img_icon {
		left: -7px;
		right: auto;
	}
}
@media (max-width: 414px) {
	.erp_banner_area_two .section_container .intro_content p {
		padding: 0 10px;
		font-size: 16px;
		margin-bottom: 20px;
	}
}
@media (max-width: 400px) {
	.erp_banner_area_two .section_container .intro_content p {
		padding: 0;
	}
	.erp_features_img_two .img_icon.red {
		left: auto;
		right: -7px !important;
	}
	.sign_info .login_info .sign-in-form .d-flex {
		display: block !important;
	}
	.f_widget .widget-wrap {
		margin-top: 20px;
	}
	.menu > .nav-item.submenu.mega_menu > .dropdown-menu.show {
		padding: 0 10px;
	}
	.intro {
		width: 100%;
	}
	.pos_footer_area .leaf_left,
	.pos_footer_area .leaf_right {
		max-width: 20%;
	}
	.erp_banner_area_two .section_container .intro_content h1 {
		font-size: 34px;
		line-height: 38px;
	}
	.erp_banner_area_two .section_container .intro_content p {
		font-size: 16px;
	}
	.erp_service_item {
		margin-bottom: 50px;
	}
	.erp_service_item .icon {
		margin-left: auto;
	}
	.erp_service_area .row {
		margin-bottom: -50px;
	}
	.intro {
		max-width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}
}
@media (max-width: 576px) {
	.footer_area_two .footer_bottom p,
	.footer_bottom .f_menu {
		text-align: center !important;
	}
	.l_height50 {
		line-height: 45px;
	}
	.f_size_30 {
		font-size: 24px;
		line-height: 35px;
	}
	.f_size_40 {
		font-size: 30px;
	}
	.footer_area_two .footer_bottom p {
		margin-bottom: 8px !important;
	}
	.app_service_item {
		padding: 50px 20px;
	}
	.breadcrumb_content h1 {
		font-size: 28px;
		line-height: 32px;
	}
	.login-form .extra {
		display: block !important;
	}
	.section_container .intro_content h1 {
		font-size: 30px;
		line-height: 45px;
	}
	.breadcrumb_area {
		padding: 70px 0 50px;
	}
	.payment_footer_area {
		padding-bottom: 75px;
	}
	.new_footer_area .footer_bottom p {
		text-align: center;
		margin-bottom: 0 !important;
	}
	.hosting_title h2 {
		font-size: 28px;
		line-height: 40px;
	}
	.hosting_title p {
		padding: 0 20px;
	}
	.flex-row-reverse .erp_content_two {
		padding-right: 0;
	}
	.flex-row-reverse .erp_features_img_two .img_icon {
		left: -7px;
		right: auto;
	}
}
@media (max-height: 420px) {
	.navbar-collapse {
		max-height: 310px;
	}
}
@media (max-width: 480px) {
	.header_area .container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width: 450px) {
	.login-form .extra {
		display: block !important;
	}
	.sign_info {
		padding: 30px 15px;
	}
	.text_box input[type='text'],
	.text_box textarea {
		padding-left: 10px;
	}
}
