<footer class="footer_area footer_area_four f_bg">
  <div class="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="f_widget company_widget text-center text-lg-left">
            <a href="/" class="f-logo"></a>
            {{ $img := resources.Get "images/logo.svg" }}
        <img src="{{ $img.Permalink}}" alt="logo"
            /></a>
            <div class="widget-wrap">
              <p class="f_400 f_p f_size_15 mb-0 l_height34">
                <span>Email:</span>
                <a href="mailto:contact@elogii.com" class="f_400"
                  >contact@elogii.com</a
                >
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 footer-nav">
          <div class="f_widget text-center text-lg-left">
            <ul class="list-unstyled">
              <li><a class="nav-link" href="faq">FAQs</a></li>
              <li>
                <a class="nav-link" href="https://api-docs.elogii.com"
                  >Developers (API Docs)</a
                >
              </li>
              <li><a class="nav-link" href="contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="erp_action_content text-center">
            <p class="footer-text">
              The most <strong>powerful</strong> end-to-end suite of
              cloud-based<span>planning, routing and dispatch</span>software
            </p>
            <a href="book-demo" class="er_btn er_btn_two">Book a Demo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-5 col-sm-6">
          <p class="mb-0 f_400">
            Copyright © 2020 eLogii by <a href="#">Brisqq</a>
          </p>
        </div>
        <div class="col-lg-4 col-md-3 col-sm-6"></div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <ul class="list-unstyled f_menu text-right">
            <li><a href="terms">Terms of Use</a></li>
            <li><a href="privacy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
